<!DOCTYPE html>
<html>
<head>
    <title>404 Not Found</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }

        .container {
            width: 80%;
            margin: auto;
            padding-top: 10%;
        }

        h1 {
            color: #333;
            font-size: 48px;
        }

        p {
            color: #666;
            font-size: 24px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Oops!</h1>
    {{errormessage}}
    <p>Sorry, the page you are looking for could not be found.</p>
</div>
</body>
</html>